* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0e6db;
}

body {
  position: relative;
  background-color: #1f4393;
  transition: background 3s, color 3s;
  color: #f0e6db;
}
body span.highlight {
  color: #f76c5e;
}
body.blue-01 {
  background-color: #183676;
}
/* body.cyan span.highlight {
  color: #f0e6db;
} */
body.blue-02 {
  background-color: #12285a;
}
/* body.royal span.highlight {
  color: #f76c5e;
} */
body.blue-03 {
  background-color: #0b1b3d;
}
/* body.navy span.highlight {
  color: #f76c5e;
} */
div.text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  text-align: center;
  max-width: 640px;
}

span.highlight {
  transition: color 3s;
}

.canvas-wrap {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
}

.scroll {
  opacity: 0;
  color: #f0e6db;
  transition: opacity .5s;
}

.scroll.in-view {
  opacity: 1;
}

@media only screen and (max-width : 640px) { 
  h1 {
    font-size: 2.75rem;
  }
}