/*  setup */
:root {
  --royalBlue: #1f4393;
  --grayMed: #8c9ead;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #1f4393;
}

/* these styles control the color change of the background */
body {
  position: relative;
  background-color: #1f4393;
  transition: background 2s, color 2s;
  color: #f0e6db;
}
body span.highlight {
  color: #f76c5e;
  white-space:nowrap;
}
body.blue-01 {
  background-color: #183676;
}
body.blue-02 {
  background-color: #12285a;
}
body.blue-03 {
  background-color: #0b1b3d;
}

/* can disregard — for demo purposes only */
div.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
div.hero h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  text-align: center;
  max-width: 640px;
}
.scroll {
  position: relative;
  opacity: 0;
  color: #f0e6db;
  transition: opacity .5s;
  z-index: 1;
}
.scroll.in-view {
  opacity: 1;
}

/* scroll section wrapper */
section.scrollytelling {
  position: relative;
}

/* sticky scroll sections */
div.scroll-container-bot,
div.scroll-container-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
div.scroll-container-top {
  z-index: 200;
}
.bg-wrap,
.canvas-wrap {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  overflow: hidden;
}
.bg-wrap.in-view {
  opacity: .7;
}
.canvas-wrap {
  z-index: 200;
}
.canvas-wrap.in-view {
  opacity: 1;
}

/* background seaweed/animal styles */
.seaweed-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.seaweed-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(0deg, rgba(11, 27, 61,1) 0%, rgba(11, 27, 61,0) 80%);
  transform: translateY(100%);
  transition: transform 1s;
}
.seaweed-gradient.in-view {
  transform: translateY(0%);
}
.seaweed {
  position: absolute;
  display: block;
  opacity: 0.75;
  fill: var(--grayMed);
}
.seaweed.left {
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 480px;
}
.seaweed.right {
  top: -2rem;
  right: 0;
  width: 50%;
  max-width: 280px;
  transform: rotate(-90deg);
}
.octopus {
  position: absolute;
  top: 30%;
  right: 1rem;
  width: 35%;
  max-width: 160px;
  fill: var(--grayMed);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 2s cubic-bezier(.215,.61,.355,1) 0s, opacity 1s cubic-bezier(.215,.61,.355,1) 0s;
}
#scrolly-fish {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  width: 40%;
  max-width: 200px;
  fill: var(--grayMed);
  transform: translateX(-100%);
  opacity: .0;
  transition: transform 2s cubic-bezier(.215,.61,.355,1) 0s, opacity 1s cubic-bezier(.215,.61,.355,1) 0s;
  z-index: 100000;
}
#scrolly-fish #pupil {
  fill: #12285a;
}
#scrolly-fish.in-view #fish {
  transform-origin: 193.8229px 119.7528px;
  transform: translateY(10px);
  animation: fish-float 3s infinite alternate ease-in-out;
  animation-delay: 2s;
}
#scrolly-fish  #fin {
  transform-origin: 193.8229px 119.7528px;
  transform: rotate(15deg);
  animation: fish-flipper 1s infinite alternate steps(8);
}
#scrolly-fish #eye {
  transform-origin: 221.5893px 80.2389px;
  animation: fish-blink 2s infinite alternate ease-in-out;
}
.octopus.in-view,
#scrolly-fish.in-view {
  opacity: 1;
  transform: translateX(0%);
}
/* foreground bubble styles (most is being handeled in js) */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* text sections — notice the transforms that give the text depth on entrance */
div.text-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  z-index: 100;
}
div.text-wrap h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  text-align: center;
  max-width: 640px;
}
div.text-wrap .scroll-text {
  opacity: 0;
  transform: translateY(8rem) rotateX(25deg) skewX(10deg);
  transition: transform 2s 0s, opacity 1s cubic-bezier(.215,.61,.355,1) 0s;
}
div.text-wrap .scroll-text.in-view {
  opacity: 1;
  transform: translateY(0) rotate(0) skew(0);
}

/* this is to animate the bob of the highlighted text — there may be a better way to do this with SCSS */
.letter {
  --speed: .5s;
  display: inline-block;
  animation: bob 2s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);;
}
.letter:nth-of-type(1){
  animation-delay: calc( var(--speed) * -13 );
}
.letter:nth-of-type(2){
  animation-delay: calc( var(--speed) * -12 );
}
.letter:nth-of-type(3){
  animation-delay: calc( var(--speed) * -11 );
}
.letter:nth-of-type(4){
  animation-delay: calc( var(--speed) * -10 );
}
.letter:nth-of-type(5){
  animation-delay: calc( var(--speed) * -9 );
}
.letter:nth-of-type(6){
  animation-delay: calc( var(--speed) * -8 );
}
.letter:nth-of-type(7){
  animation-delay: calc( var(--speed) * -7 );
}
.letter:nth-of-type(8){
  animation-delay: calc( var(--speed) * -6 );
}
.letter:nth-of-type(9){
  animation-delay: calc( var(--speed) * -5 );
}
.letter:nth-of-type(10){
  animation-delay: calc( var(--speed) * -5 );
}
.letter:nth-of-type(11){
  animation-delay: calc( var(--speed) * -3 );
}
.letter:nth-of-type(12){
  animation-delay: calc( var(--speed) * -2 );
}
.letter:nth-of-type(13){
  animation-delay: calc( var(--speed) * -1 );
}

/* mqs */
@media only screen and (max-width : 640px) { 
  div.hero h1,
  div.text-wrap h1 {
    font-size: 2.75rem;
  }
}
@media only screen and (min-width : 1024px) {
  .seaweed.left {
    left: 0;
    width: 50%;
    max-width: 720px;
  }
  .seaweed.right {
    top: auto;
    bottom: 0;
    width: 30%;
    max-width: 400px;
    transform: rotate(0deg);
  } 
  .octopus {
    position: absolute;
    top: 8vh;
    right: 1rem;
    width: 18%;
    max-width: 200px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 2s cubic-bezier(.215,.61,.355,1) 0s, opacity 1s cubic-bezier(.215,.61,.355,1) 0s;
  }
  #scrolly-fish {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 18%;
    max-width: 280px;
    transform: translateX(-100%);
    opacity: .0;
    transition: transform 2s cubic-bezier(.215,.61,.355,1) 0s, opacity 1s cubic-bezier(.215,.61,.355,1) 0s;
  }
}

/* Jitter animation classes */
.animation-jitter-step01,
.animation-jitter-step02,
.animation-jitter-step03,
.animation-jitter-step04 {
  --timeBase: 0.5s;
  --steps: 3;
  --length: calc(var(--timeBase) * var(--steps));
  animation: jitter var(--length) infinite steps(4);
}
.animation-jitter-step02 {
  animation-delay: var(--timeBase);
}
.animation-jitter-step03 {
  animation-delay: calc(var(--timeBase) * 2);
}
.animation-jitter-step04 {
  animation-delay: calc(var(--timeBase) * 3);
}

/* Seaweed animation keyframes */
@keyframes jitter {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* highlighted text animation keyframes */
@keyframes bob {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* fish keyframes */
@keyframes fish-flipper {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-22deg);
  }
}
@keyframes fish-float {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes fish-blink {
  0% {
    transform: scaleY(1);
  }
  5% {
    transform: scaleY(0);
  }
  10%, 100% {
    transform: scaleY(1);
  }
}